# Environment Config
PORT=5000

# Slack Configuration
clientId=
clientSecret=
clientSigningSecret=
verificationToken=

# Dashbot Configuration
DASHBOT_API_KEY=S

# Mongo Configuration
MONGODB_URI=mongodb://
